.column {
  width: 25%;
  float: center;
  
  
  
  margin: 0 auto 0 auto;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

p {
  text-align: center;
}

h1 {
  color: white;
  background-color: skyblue;
  text-align: center;
  font-size: 50px;
  border: 5px solid black;
  border-radius: 10px;
}

.column > div {
  background-color: skyblue;
  border: 5px solid black;
  border-radius: 10px;
}